.Header {
  background-color: rgba(255, 240, 27, 0.788);
  margin-bottom: 20px;

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
  }
  .text-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgb(70, 54, 54);
    padding: 5px;

    .count-value {
      color: white;
      font-size: 10px;
    }
  }

  .addcolor {
    background-color: rgb(255, 0, 0);
  }

  .count {
    position: absolute;
    top: 14px;
    right: 25px;
  }
}
